* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://png.pngtree.com/background/20210710/original/pngtree-sweet-couple-banner-picture-image_1059299.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    box-sizing: border-box;
    margin-left: 500px;
    margin-top: 150px;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 1px 3px 5px 5px rgb(221, 16, 16);
    max-width: 500px;
    height: auto;
    justify-content: center;
    align-items: center;
    background-image: url("https://www.wallsnapy.com/img_gallery/love-couple-hd-wallpapers-for-mobile-9495414.png");
}

.one {
    margin-top: 20px;
    margin-bottom: 50px;
    text-shadow: 1px 2px 5x;
    color: rgb(13, 239, 28);
    box-shadow: 1px 2px 5px 5px black;

}

.PersonA {
    width: 250px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: lato sans-serif;
    color: rgb(21, 236, 29);
    text-shadow: 1px 2px 5x;
}

input {
    width: 180px;
    height: 30px;
}

.PersonB {
    width: 250px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: lato sans-serif;
    color: rgb(21, 236, 29);
    text-shadow: 1px 2px 5x;

}

button {
    margin-top: 20px;
    margin-bottom: 35px;
    font-size: 20px;
    color: rgb(14, 11, 11);
}